body {
    font-family: 'Rubik', sans-serif;
}

.title {
    font-family: 'Rubik', sans-serif;
    color: #000000;
    padding: 20px;
}

.burger-title {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}

#list-devoured {
    margin: 10px;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ebebeb;
}

#list-burgers {
    margin: 10px;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ebebeb;
}

.container {
    padding: 5px;
}

.available-burgers {
    color: white;
    overflow: hidden;
    font-size: 20px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    background-color: rgb(99, 99, 99);
}

.devoured-burgers {
    color: white;
    overflow: hidden;
    font-size: 20px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    background-color: rgb(99, 99, 99);
}

#burger-ready {
    color: white;
    float: right;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgb(75, 116, 231);
}

#burger-ready:hover {
    color: #e9e9e9;
    background-color: rgb(118, 147, 226);
}

#add-burger{
    margin: 0 auto; 
    width: 250px;
    margin-bottom: 50px;
}

#enter-burger {
    font-size: 25px;
    width: 200px;
    height: 50px;
    align-content: center;
    color: white;
    background-color: rgb(99, 99, 99);   
}

#submit-burger {
    font-size: 20px;
    height: 40px;
    margin: auto; 
    width: 200px;
    padding: auto;
    color: white;
    border-radius: 10px;
    background-color: rgb(75, 116, 231);
}

#submit-burger:hover {
    color: #e9e9e9;
    background-color: rgb(118, 147, 226);
}

#gif {
    width: 300px;
    height: auto;
}